* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Robot Mono", sans-serif;
}
html {
	font-size: 60%;
}
.main-body {
	height: 100vh;
	background-image: url(../images/vase.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}
.whole-container {
	display: flex;
}
.left-top {
	h3 {
		font-size: 3rem;
		padding-bottom: 1rem;
		color: rgba(0, 255, 255, 0.9);
		border-bottom: 12px solid rgb(209, 119, 177);
		opacity: 80%;
	}
}

.discover-button {
    background: transparent;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: 400;
    width: 30%;
    border-style: solid;
    border-color: #ffffff;
    display: inline-block;
    position: absolute;
    left: 250px;
    top: 750px;
    padding: 1.6rem 3.2rem;
  }
  .discover-button:hover {
    background: #5981a5;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .watch-button {
    background: #93aacf;
    text-decoration: none;
    border-radius: 5em;
    font-weight: 400;
    display: inline-block;
    background-color:#93aacf;
    outline: none;
    border: none;
    padding: 1.6rem 2.4rem;
    border-radius: 1000px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-size: 1.8rem;
    position: absolute;
    left: -5rem;
    top: 42rem;
  }
  .watch-button:hover {
    background: #5981a5;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }


.container-left {
	background: #A24A56;
	flex-basis: 25%;
	height: 100vh;
	padding: 10rem 6rem 10rem 10rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.left-bottom {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
	align-items: flex-start;
	h3 {
		font-size: 3rem;
		color: rgba(0, 255, 255, 0.9);
		opacity: 80%;
	}
	p {
		font-size: 2rem;
		text-align: left;
		line-height: 1.5;
		color: rgb(223, 221, 221);
		opacity: 60%;
	}
}
.container-middle {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}
.middle-top-container {
	flex-basis: 90%;
}
.middle-top {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: absolute;
	align-items: flex-start;
	left: 90rem;
	top: 10rem;
	padding: 5rem;
	img {
		border-radius: 50%;
	}
	h2 {
		color: whitesmoke;
		font-size: 2rem;
		padding-bottom: 1rem;
		border-bottom: 5px solid whitesmoke;
		align-self: stretch;
	}
	p {
		color: whitesmoke;
		font-size: 1.6rem;
		opacity: 80%;
	}
	button {
		background-color: rgba(245, 245, 245, 0.3);
		outline: none;
		border: none;
		padding: 1.6rem 2.4rem;
		border-radius: 1000px;
		border: 2px solid whitesmoke;
		color: whitesmoke;
		font-size: 1.8rem;
		position: absolute;
		left: -5rem;
		top: 42rem;
	}
}
.middle-bottom {
	// background-color: #4a5577;
	background-color: #4a55775e;
	flex-basis: 30%;
	// filter: blur(10px);
	position: relative;
}
.middle-bottom-container {
	position: absolute;
	top: 75%;
	display: flex;
	gap: 9.6rem;
	align-items: center;
	justify-content: space-around;
	padding: 4.8rem 17rem 4.8rem 11.4rem;
	opacity: 80%;
}
.left-middle {
	position: absolute;
	transform: rotate(-90deg);
	font-size: 18rem;
	color: rgb(252, 173, 225);
	opacity: 0.3;
	left: -21rem;
	top: 40rem;
	letter-spacing: 10px;
}
.left-middle-heading {
	span {
		display: flex;
	}
	position: absolute;
	color: rgb(252, 173, 225);
	font-size: 15rem;
	text-transform: uppercase;
	left: 32rem;
	top: 17rem;
	font-weight: 100;
	display: flex;
	flex-direction: column;
}
.group {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
	h4 {
		font-size: 3rem;
		color: rgba(0, 255, 255, 0.9);
	}
	p {
		color: whitesmoke;
		font-size: 1.6rem;
		opacity: 80%;
	}
}
.right-arrow {
	position: absolute;
	font-size: 5rem;
	right: 60px;
	transform: rotate(180deg);
	color: whitesmoke;
	opacity: 70%;
}
.container-right {
	flex-basis: 7%;
	border-left: 1px solid whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.right-top {
	height: 133.39px;
	width: 100%;
	background-color: rgba(245, 245, 245, 0.3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
}
.menubar1 {
	width: 50px;
	height: 6px;
	background-color: rgb(241, 239, 239);
}
.menubar2 {
	align-self: flex-start;
	margin-left: 40px;
	width: 38px;
	height: 6px;
	background-color: rgb(241, 239, 239);
}
.right-bottom-top {
	height: 133.39px;
	width: 100%;
	background-color: rgba(245, 245, 245, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}
.right-bottom-bottom {
	height: 133.39px;
	width: 100%;
	background-color: rgba(245, 245, 245, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}
.arrow {
	font-size: 5rem;
	color: whitesmoke;
	opacity: 60%;
}
